body{
    margin: 0 auto;
    max-width: 600px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif; 
    /* 微软雅黑 */
}

footer{
    color: bisque;
    margin-top: 20px;
    text-align: center;
    padding: 10px;
}
/* 图片 */
.tp{
    width: 40px;
    height: 40px;
}

/* 电影列表 */
.movie-list{
    list-style-type: none;
    padding: 0;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),0 2px 5px 0 rgba(0, 0, 0, 0.12);
}
/* 每行 */
.movie-list li{
    padding: 12px 24px;
    border-bottom: 1px solid #dddddd;
}
/* 鼠标经过效果颜色 */
.movie-list li:hover{
   background-color: #f8f9fa;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

nav li{
    float: left;
}

nav li a{
    display: block;
    color: white;
    text-align: center;
    padding: 8px 12px;
    text-decoration: none;
}


nav li a:hover{
    background-color: #111111;
}

.float-right{
    float: right;
}

.baidu{
    font-size: 12px;
    font-weight: bold;
    /* 字体加粗 */
    color:black;
    text-decoration: none;
    /* 去掉下划线 */
    background: #f5c518;
    border-radius: 5px;
    /* 方框变得有弧度 */
    padding: 3px 5px;
}
.btn{
    font-size: 12px;
    padding: 3px 5px;
    text-decoration: none;
    cursor: pointer;
    background: black;
    background-color: white;
    border: 1px solid #555555;
    border-radius: 5px;
}

.btn:hover{
    text-decoration: none;
    background-color: black;
    background: white;
    border: 1px solid black;
}

.alert{
    position: relative;
    padding: 10px;
    margin: 10px 0;
    border:1px solid transparent;
    color:#004085;
    background-color: #cce5ff;
    border-color: #b8daff;
    border-radius: 5px;
}