<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{user.name}}</title>
<link rel="stylesheet" href="{{url_for('static',filename='css/aa.css')}}">
</head>
<body>
    <img src="{{url_for('static',filename='img/5.jpg')}}" alt="" class="tp">
    <h2>{{user.name}}</h2>
    <p>总共{{movies|length}}</p>
    <ul class='movie-list'>
      <li>页面走丢了~~~~404
          <a href="{{url_for('index')}}">返回主页</a>
      </li>
    </ul>
        <footer>
            <small>&copy;2020 &nbsp;&nbsp;<a href="#">1903</a></small>
        </footer>
</body>
</html>